@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/*global/menu styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #272727;
  color: #fff;
}

button {
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 100px;
  border: 2px;
  border-radius: 10px;
}

#btnDoc {
  background-color: #ff652f;
  padding: 10px 75px;
}

#btnMain {
  background-color: #13a76b;
}

#btnRepo{
  background-color: #2FC9FF
}

.tbMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*main styles*/
.main-embed {
  /*making space for header*/
  margin-top: 10px;
  /*making size 100% so that it will be big enough*/
  size: 100%;
  /*i dont even know what this is but it works lo*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 50px 50px solid #202020;
  border-color: #3a3a3a;
  border-radius: 7px;
}
#btnGoBack {
  margin-top: 10%;
  background-color: #FFE401;
  color: #000;
}

#imgLogo {
  margin-left: -2%;
  width: 7%;
  height: 7%;
  border: 2px solid white;
  border-radius: 50%;
}

section {
  display: grid;
  justify-content: center;
  align-content: center;
}
